<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/statEtu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/customSelect.css') }}">
    <script src="{{ url_for('static', filename='js/customSelect.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="bandeau">
        <h2>Liste étudiant</h2>
        <div class="student-list">
            <select class="custom-select">
                <option>Etudiants 1</option>
                <option>Etudiants 2</option>
            </select>
        </div>
        <input type="text">
        <button>Rechercher</button>
    </div>
    <div class="right">
        <h1 class="title">Panel statistique par étudiant</h1>
        <table>
            <tr>
                <td>Séquence</td>
                <td>Question</td>
                <td>Date</td>
                <td>score</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td></td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td></td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>Séquence</td>
                <td>Question</td>
                <td>Date</td>
                <td>score</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>Séquence</td>
                <td>Question</td>
                <td>Date</td>
                <td>score</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>Séquence</td>
                <td>Question</td>
                <td>Date</td>
                <td>score</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
            <tr>
                <td>ExempleS1</td>
                <td>ExempleQ1</td>
                <td>ExempleD1</td>
                <td>ExempleSc1</td>
            </tr>
        </table>
        <a><button>Retour au panel de config</button></a>
    </div>
</div>
</body>
</html>